# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: No rights reserved

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.[ch]]
indent_size = 2
indent_style = space
max_line_length = 80

[*.{js,py}]
indent_size = 4
indent_style = space
max_line_length = 80

[*.json]
indent_size = 4
indent_style = space

[*.{css,page,toml,ui,xml,xml.in,yml}]
indent_size = 2
indent_style = space

[meson.build,meson_options.txt]
indent_size = 2
indent_style = space
