root = true

[*]
charset = utf-8
end_of_line = lf

[*.[ch]]
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
tab_width = 2

[*.py]
indent_size = 4
tab_size = 4
indent_style = space

[*.{ui,xml,xml.in}]
indent_size = 2
indent_style = space
insert_final_newline = true
tab_size = 2

[*.css]
indent_size = 2
indent_style = space
insert_final_newline = true
tab_size = 2

[*.json]
indent_size = 4
tab_size = 4

[meson.build]
indent_size = 2
indent_style = space
