<page xmlns="http://projectmallard.org/1.0/" version="1.1"
      type="topic"
      id="{{ID}}">
  <info>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
    <credit type="author copyright">
      <name>{{NAME}}</name>
      <email>{{EMAIL}}</email>
      <years>{{YEAR}}</years>
    </credit>

    <link type="guide" xref="index#troubleshooting"/>
    <link type="seealso" href="https://userbase.kde.org/KDEConnect#Troubleshooting">
      <title>KDE Connect — Troubleshooting</title>
    </link>

    <title type="text">{{TITLE}}</title>
    <desc>{{DESCRIPTION}}</desc>
  </info>

  <title>{{TITLE}}</title>
  <p>
    A troubleshooting guide.
  </p>
</page>
