name: Continuous Integration

on:
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  dependencies:
    name: Flatpak
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
          set-safe-directory: '/github/workspace'

      - uses: docker://ghcr.io/flathub/flatpak-external-data-checker:latest
        env:
          GIT_AUTHOR_NAME: Flatpak External Data Checker
          GIT_COMMITTER_NAME: Flatpak External Data Checker
          # email sets "github-actions[bot]" as commit author, see https://github.community/t/github-actions-bot-email-address/17204/6
          GIT_AUTHOR_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          GIT_COMMITTER_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          entrypoint: /bin/bash
          args: -c "git config --global --add safe.directory /github/workspace && cd /github/workspace && /app/flatpak-external-data-checker --update --never-fork build-aux/flatpak/ca.andyholmes.Valent.json"

  codespell:
    name: Codespell
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Spell Check
        uses: codespell-project/actions-codespell@master
        with:
          ignore_words_list: doubleclick,inout,onlyonce,sav
          skip: ./tests/fixtures/data,./subprojects,./*.po

  commitlint:
    name: Commitlint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint
        uses: wagoid/commitlint-github-action@v5

  reuse:
    name: REUSE Compliance
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Lint
        uses: fsfe/reuse-action@v1
        with:
          args: lint

  pre-test:
    name: Pre-Tests
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: false

      - name: Pylint
        if: ${{ always() }}
        uses: dciborow/action-pylint@main
        with:
          reporter: github-pr-review
          fail_on_error: true
          glob_pattern: "**/*.py"

      - name: Mypy
        if: ${{ always() }}
        uses: tsuyoshicho/action-mypy@v3
        with:
          reporter: github-pr-review
          fail_on_error: true

      - name: ShellCheck
        if: ${{ always() }}
        uses: reviewdog/action-shellcheck@v1
        with:
          reporter: github-pr-review
          fail_on_error: true

  build:
    name: Build (Documentation)
    needs: [pre-test]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}:${{ github.base_ref }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Build
        run: |
          meson setup --buildtype=release \
                      -Ddocumentation=true \
                      _build
          meson compile -C _build

      - name: Upload
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: Documentation
          path: _build/doc/sdk/valent

  analyze:
    name: Static Analysis
    needs: [pre-test]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}:${{ github.base_ref }}

    strategy:
      matrix:
        suite: [abidiff, cppcheck]
        include:
          - suite: abidiff
            setup-args: |
              -Dintrospection=false
              -Dplugins=false
          - suite: cppcheck
            setup-args: |
              -Dintrospection=false
              -Dtests=true
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Analyze
        uses: andyholmes/actuary@main
        with:
          suite: ${{ matrix.suite }}
          setup-args: ${{ matrix.setup-args }}
          abidiff-lib: libvalent-1.so
          cppcheck-args: |
            -Itests/fixtures
            --library=tests/extra/cppcheck.cfg
            --suppressions-list=tests/extra/cppcheck.supp
          cppcheck-path: src

      - name: Report
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: Static Analysis (${{ matrix.suite }})
          path: _build/meson-logs

  test:
    name: Tests
    needs: [pre-test]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}:${{ github.base_ref }}

    strategy:
      matrix:
        compiler: [gcc, llvm]
        suite: [test, asan, tsan, analyzer]
        include:
          - suite: test
            setup-args: |
              -Dtests=true
            test-args: |
              --repeat=3
          - suite: asan
            setup-args: |
              -Dintrospection=false
              -Dtests=true
          - suite: tsan
            setup-args: |
              -Dintrospection=false
              -Dtests=true
          - suite: analyzer
            setup-args: |
              -Dintrospection=false
              -Dtests=true
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Test
        id: test
        uses: andyholmes/actuary@main
        with:
          suite: ${{ matrix.suite }}
          compiler: ${{ matrix.compiler }}
          setup-args: ${{ matrix.setup-args }}
          test-args: ${{ matrix.test-args }}
          test-coverage: ${{ matrix.compiler == 'gcc' && matrix.suite == 'test' }}
          lcov-include: '${{ github.workspace }}/src/*'
          lcov-exclude: '*/tests/* */subprojects/*'

      - name: Test Report
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: Tests (${{ matrix.compiler }}, ${{ matrix.suite }})
          path: ${{ steps.test.outputs.log }}

      - name: Coverage (html)
        if: ${{ matrix.compiler == 'gcc' && matrix.suite == 'test' }}
        uses: actions/upload-artifact@v3
        with:
          name: Tests (coverage)
          path: ${{ steps.test.outputs.coverage-html }}

      - name: Coverage (coveralls.io)
        if: ${{ matrix.compiler == 'gcc' && matrix.suite == 'test' }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{ steps.test.outputs.coverage }}

  flatpak:
    name: Tests (Flatpak)
    needs: [pre-test]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/andyholmes/flatter/gnome:43
      options: --privileged

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup GPG
        id: gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Build
        uses: andyholmes/flatter@main
        with:
          files: |
            build-aux/flatpak/ca.andyholmes.Valent.json
          gpg-sign: ${{ steps.gpg.outputs.fingerprint }}
          run-tests: true
          test-config-opts: |
            --buildtype=debugoptimized
            -Dtests=true
          test-modules: |
            ca.andyholmes.Valent.Tests.json
          upload-bundles: true

  flatpak-unstable:
    name: Tests (Flatpak Unstable)
    needs: [pre-test]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/andyholmes/flatter/gnome:master
      options: --privileged

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup GPG
        id: gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Build
        uses: andyholmes/flatter@main
        with:
          files: |
            build-aux/flatpak/ca.andyholmes.Valent.Devel.json
          gpg-sign: ${{ steps.gpg.outputs.fingerprint }}
          run-tests: true
          upload-bundles: true
