name: Container Registry

on:
  push:
    branches: [main]
    paths:
      - build-aux/docker/Dockerfile
      - build-aux/docker/Dockerfile.toolbox
  pull_request:
    paths:
      - build-aux/docker/Dockerfile
      - build-aux/docker/Dockerfile.toolbox
  schedule:
    # Once a week to keep dependencies up to date
    - cron: 0 0 * * 0
  workflow_dispatch:

permissions:
  contents: read

jobs:
  container:
    name: Container
    runs-on: ubuntu-latest
    permissions:
      packages: write

    strategy:
      matrix:
        label: [CI, Toolbox]
        include:
          - label: CI
            file: ./build-aux/docker/Dockerfile
            image: ghcr.io/${{ github.repository }}
          - label: Toolbox
            file: ./build-aux/docker/Dockerfile.toolbox
            image: ghcr.io/${{ github.repository }}-toolbox
      fail-fast: false

    steps:
      - name: Metadata
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ matrix.image }}
          tags: |
            # set latest tag for main branch
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch

      - name: Login
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: ${{ matrix.file }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
